body {
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-weight: 150;
    color: #1a2537;   
}
img {
    width: 200px;
    padding-right: 5px;
    align-content: center;
}
.bgPrimary {
    background-color: #1a2537; 
}
#menuLateral {
    min-height: 700px;
}
#menuLateral .logo {
    padding: 20px 20px;
}

#menuLateral .menu {
    width: 200px;
}
#menuLateral .menu a{
    display: block;
    width: 200px;
    padding: 15px;
}
#menuLateral .menu i{
    margin: 7px;
}
a:hover{
    text-decoration: none;
}
.btnBuscar {
    right:5px;
}
.bgLight{
    background-color: white;
}
.contenedor {
    display: flex;
    text-align: center;
}
#contenido {
    overflow-y: auto;
    height: 600px;
    padding-bottom: 15px;
    font-weight: 150;
}
.btn {
    border: 0;
}
.btn-primary {
    background-color:#1a2537; 
}
.btn-primary a {
    color: white;
}
.btn-primary:hover {
    background-color:#1a2537; 
}