
body{
    font-family: 'Mulish', sans-serif;
    font-weight: 200px;
    text-align: center;
    background-color: #1a2537;
    overflow: hidden;
}

label {
    float: left;
}
#login {
    background-color: #21295B;
    height: 660px;
}
#ingresar {
    background-color: #077BF7 ;
    border: none;
}

























